body {
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
}

h1,
h2 {
  font-weight: normal;
}


#wrapper {
  width: 50%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  background: #fff;
} 

#page-banner {
  background: #f2f2f2;
  padding: 10px 0;
}

#page-banner h1,
#page-banner p {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

#page-banner input {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

#task-list,
#add-book,
#tabbed-content {
  margin: 0;
}

#task-list ul,
#tabbed-content ul {
  list-style: none;
  padding: 0;
}

#task-list li {
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

#task-list li:hover {
  border-color: #9361bf;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

#task-list li:hover {
  display: block;
  color: red;
}

.delete {
  float: right;
  background: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  color: red;
}

#task-list li .delete:hover {
  color: black;
}

#add-task {
  width: 400px;
  margin: 0 auto;
}

#add-task input {
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 300px;
  float: left;
}

#add-task button {
  border: 1px solid #9361bf;
  background: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 100px;
  float: left;
  margin: 20px 0;
  color: white;
}

#add-task:after {
  content: "";
  display: block;
  clear: both;
}  



